---
layout: posts
---

{{content}}

<div class="all-posts--footer">
                        
    <div class="footer-content">
        <div class="pagination">
            <a href=""><p> <span><<</span> Prev</p></a>
            <a href=""><p> Next <span>>></span> </p></a>
            
        </div>
       
        <p class="all-posts--end-message">Posts Ends Here</p>
        
    </div>                        
    <hr class="footer-hr">
    <ul class="social-links">
        <li class="list-item">
            <a href="#" class="nav-link">twitter</a>
        </li>
        <li class="list-item">
            <a href="#" class="nav-link">github</a>
        </li>
    </ul>

</div>
</div>
</main>