---
layout: default
---
  
    <div class="nav-container-2">
        <div class="hamburger-menu">
            <span></span>
        </div>
        <nav class="nav-menu-2"> 
            <ul class="nav-list nav-list-2">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="about.html">About</a></li>
                <li class="nav-item"><a href="posts.html">Post</a></li>
                <li class="nav-item"><a href="#projects">Project</a></li>
                <li class="nav-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>  

    {{ content  }}